{% extends "template.html" %}
{% block body %}

<h1>SQL Injection</h1>

<section class="actions" style="margin-bottom: 2rem;">
    <h3>Desafios Disponíveis</h3>
    <div style="display: flex; flex-wrap: wrap; gap: 1rem; margin-top: 1rem;">
        <a href="{{ url_for('mysql_level_1.mission_add') }}" class="submit-btn" style="flex: 1; min-width: 200px;">Nível 1</a> <!-- Mysql-->
        <a href="{{ url_for('postgres_level_1.mission_add') }}" class="submit-btn" style="flex: 1; min-width: 200px;">Nível 2</a> <!-- Postgres -->
        <a href="{{ url_for('sqlserver_level_1.mission_add') }}" class="submit-btn" style="flex: 1; min-width: 200px;">Nível 3</a> <!-- Sqlserver -->
    </div>
</section>

<div style="margin-top: rem;">
    <a href="{{ url_for('auth.account') }}" class="btn-secondary" style="min-width: 20px;">← Voltar</a>
</div>

{% endblock %}
