{% extends "template.html" %}
{% block body %}
<h2>Mysql Nova Missão</h2>


<form method="POST" class="container">
    <input type="text" name="titulo" class="form-field" placeholder="Nome da missão" required>
    <select name="status" class="form-field" required>
        <option value="ativa">Ativa</option>
        <option value="inativa">Inativa</option>
    </select>
    <button type="submit" class="submit-btn">Adicionar Missão</button><br>
    <a href="{{ url_for('mission_mysql.mission_update') }}" class="link">Pesquisar Tarefa</a>

</form>



<!-- <div id="myUnOrdList">
    {% if missions %}
        <ul class="todo-list" style="list-style: none; padding: 0;">
            {% for mission in missions %}
                <li class="todo">
                    {{ mission[1] }} - <strong>{{ mission[2] }}</strong>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="text-align:center;">Nenhuma missão adicionada ainda.</p>
    {% endif %}
</div> -->

{% endblock %}