<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>HackPyDB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Estilo global -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">


</head>

<body>
        <header class="header" id="header">
             <nav class="nav container-nav">
            <a href="{{url_for('auth.account')}}" class="nav__logo">PyHackDB</a>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a href="{{url_for('auth.account')}}" class="nav__link">
                        <i class="ri-arrow-right-up-line"></i>
                        <span>Home</span>
                     </a>
                  </li>

                  <li class="nav__item">
                     <a href="#" class="nav__link">
                        <i class="ri-arrow-right-up-line"></i>
                        <span>About Us</span>
                     </a>
                  </li>
                  
                  <li class="nav__item dropdown">
                     <a href="#" class="nav__link dropdown__toggle">
                        <i class="ri-arrow-right-up-line"></i>
                           <span>Projects</span>
                     </a>
                  
                     <ul class="dropdown__menu">
                     
                        <li><a href="{{url_for('vuln.sqli_page')}}" class="dropdown__item">SQL Injection</a></li>
                     </ul>
                        </li>
                  
                  <li class="nav__item">
                     <a href="logout" class="nav__link">
                           <i class="ri-arrow-right-up-line"></i>
                        <span>Logoff</span>
                     </a>
                  </li>
               </ul>


            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
               <i class="ri-menu-line"></i>
            </div>
         </nav>
</header>


    <center>
        {% block body %}{% endblock %}
    </center>

    <script>
        function toggleTheme() {
            const currentTheme = document.body.getAttribute("data-theme");
            const newTheme = currentTheme === "dark" ? "light" : "dark";
            document.body.setAttribute("data-theme", newTheme);
        }
    </script>
    <script src="assets/js/main.js"></script>
</body>
</html>
